# Export all names from PBSmapx
# exportPattern(".")

exportPattern("^[^\\.]")
exportPattern("^\\.map")
exportPattern("^\\.PBS")
exportPattern("^\\.win")

# Packages declared in the 'Depends' field should not also be in the 'Imports' field (from R-exts.pdf).
import(
  PBStools
)
importFrom(utils, dataentry)
# importFrom(sp, point.in.polygon) # call C routine "R_point_in_polygon_sp" directly

