# Export all names from PBSfishery
# exportPattern(".")

exportPattern("^[^\\.]")
exportPattern("^\\.map")

# Import all packages listed as Imports or Depends
import(
  PBStools
)
importFrom(utils, dataentry)
# importFrom(sp, point.in.polygon) # call C routine "R_point_in_polygon_sp" directly

