# Export all names from PBSmapx
# exportPattern(".")

exportPattern("^[^\\.]")
exportPattern("^\\.map")
exportPattern("^\\.PBS")
exportPattern("^\\.win")

# Import all packages listed as Imports or Depends
import(
  PBStools
)
importFrom(utils, dataentry)
# importFrom(sp, point.in.polygon) # call C routine "R_point_in_polygon_sp" directly

